# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.env/
.env.*

# VS Code settings
.vscode/

# Pytest cache
.pytest_cache/

# Allure reports (si los generas localmente)
allure-report/
allure-results/
reports
results

# Coverage reports
htmlcov/
.coverage
.coverage.*

# Logs
*.log

# MacOS system files
.DS_Store

# Reports or temp files
*.zip
*.tmp
